.text-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: size(1);

  > * {
    flex-basis: 100%;
  }

  &-image {
    text-align: right;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: size(3);
  }
}
